<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd
import psycopg2 
import sqlalchemy
import matplotlib as plt

%matplotlib inline

In [21]:
c = psycopg2.connect(host='127.0.0.1', database='skye', user='smlong', password='tamere', sslmode='disable')

In [10]:
%load_ext sql

In [13]:
cursorPsy= c.cursor(cursor_factory=psycopg2.extras.DictCursor)

In [47]:
cursorPsy.execute("SELECT max(\"TUYEAR\") FROM summary")

In [48]:
cursorPsy.fetchall()

[[2018]]

In [69]:
demographics = pd.read_sql_query('''SELECT * FROM summary WHERE \"TUYEAR\" BETWEEN 2008 AND 2018''', c)

In [70]:
demographics.dtypes

TUCASEID    float64
GEMETSTA      int64
GTMETSTA      int64
PEEDUCA       int64
PEHSPNON      int64
             ...
t500104       int64
t500105       int64
t500106       int64
t500107       int64
t509989       int64
Length: 455, dtype: object

In [71]:
demographics.shape

(128229, 455)

In [83]:
demographics["personal_total"] = demographics.filter(regex='^t01', axis=1).sum(axis=1)

In [84]:
demographics

,TUCASEID,GEMETSTA,GTMETSTA,PEEDUCA,PEHSPNON,PTDTRACE,TEAGE,TELFS,TEMJOT,TESCHENR,...,t181899,t189999,t500101,t500103,t500104,t500105,t500106,t500107,t509989,personal_total
0,2.008010e+13,-1,2,36,1,1,55,1,2,-1,...,0,0,0,0,0,0,50,0,0,548
1,2.008010e+13,-1,1,42,2,2,66,5,-1,-1,...,0,0,0,0,0,0,0,0,0,1435
2,2.008010e+13,-1,1,34,2,1,80,5,-1,-1,...,0,0,0,0,0,0,0,0,0,360
3,2.008010e+13,-1,1,40,2,1,29,2,2,2,...,0,0,0,0,0,0,0,0,0,690
4,2.008010e+13,-1,2,39,2,1,34,4,-1,2,...,0,0,0,0,0,0,0,0,0,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128224,2.018121e+13,-1,1,39,2,1,69,5,-1,-1,...,0,0,0,0,0,0,0,0,0,604
128225,2.018121e+13,-1,1,43,1,1,32,1,2,2,...,0,0,40,0,0,0,0,0,0,535
128226,2.018121e+13,-1,1,36,2,4,17,5,-1,2,...,0,0,0,0,0,0,0,0,0,865
128227,2.018121e+13,-1,1,44,2,1,58,3,-1,-1,...,0,0,0,0,0,0,0,0,0,555
128228,2.018121e+13,-1,1,42,2,1,72,5,-1,-1,...,0,0,60,0,0,0,0,0,0,615

In [76]:
personal['personal_total'] = personal.sum(axis=1)

C:\Users\smlong\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
personal

,t010101,t010102,t010199,t010201,t010299,t010301,t010399,t010401,t010499,t010501,t010599,t019999,personal_total
0,518,0,0,30,0,0,0,0,0,0,0,0,1096
1,1420,0,0,0,0,15,0,0,0,0,0,0,2870
2,360,0,0,0,0,0,0,0,0,0,0,0,720
3,600,0,0,90,0,0,0,0,0,0,0,0,1380
4,600,0,0,60,0,0,0,0,0,0,0,0,1320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128224,411,0,0,71,0,2,120,0,0,0,0,0,1208
128225,480,0,0,55,0,0,0,0,0,0,0,0,1070
128226,720,55,0,90,0,0,0,0,0,0,0,0,1730
128227,510,0,0,45,0,0,0,0,0,0,0,0,1110
128228,540,0,0,75,0,0,0,0,0,0,0,0,1230